<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/_layout">
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-6">
                    <h1>Books</h1>
                </div>
            
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    
    <section class="content">
        <div class="container-md">
            <div class="card">
                <div class="card-header border-transparent">
                    <div class="container-fluid">
                        <form action="">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                    
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content">
        <div class="container-md">
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">All Books</h3>
                    
                    <div class="card-tools">
                        <a th:href="@{/books/new}" class="btn btn-sm btn-info mx-2">Add New Book</a>
                    </div>
                </div>
                
                
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive"  style="height: 540px;">
                        <table class="table m-0  table-head-fixed text-nowrap table-hover table-striped projects">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-left">Title</th>
                                    <th class="text-left">Author</th>
                                    <th class="text-left">Publisher</th>
                                    <th class="text-center">ISBN </th>
                                    <th class="text-center">Unit Price</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book, iterStat : ${books}">
                                
                                <th class="text-center"   th:text="${iterStat.count}"></th>
                                <td class="text-left" th:text="${book.title}"></td>
                                <td class="text-left" th:text="${book.author}"></td>
                                <td class="text-left" th:text="${book.publisher}"></td>
                                <td class="text-center" th:text="${book.isbn}"></td>
                                <td class="text-center" th:text="${book.unitPrice}"></td>
                                <td class="text-center">
                                    <a th:href="@{/books/view/{id} (id=${book.id})}" class="btn btn-outline-info btn-sm"> <i class="fa fa-eye"></i> View</a>
                                </td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </section>
</div>
</body>
</html>