<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
      <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col">
                        <h1>Edit User</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        
        <section class="content">
            <div class="container-fluid">
                <form class="row" th:action="@{/users/update/{id} (id = ${user.id})}"  th:object="${user}" method="POST">
                    
                    
                    <div class="col-xl-6 col-md-9 col-12 mx-auto">
                        <div class="card  card-primary card-outline">
                            <div class="card-body">
                                <div class="form-horizontal text-nowrap">
                                    <div class="form-group row my-2">
                                        <label for="firstname" class="col-sm-2 col-form-label">name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="firstname" th:field="*{firstname}"  placeholder="Firstname">
                                        </div>
                                    </div>
                                    <div class="form-group row my-2">
                                        <label for="lastname" class="col-sm-2 col-form-label">Lastname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="lastname" th:field="*{lastname}" placeholder="Lastname">
                                        </div>
                                    </div>
                                    <div class="form-group row my-2">
                                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row my-2">
                                        <label for="phoneNumber" class="col-sm-2 col-form-label">Department</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="phoneNumber" th:field="*{department}" placeholder="Department">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group  row my-2">
                                        <label class="col-sm-2 col-form-label">Role</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select form-control" th:field="*{role}">
                                                <select class="custom-select form-control" th:field="*{role}">
                                                    <option  th:each="roleOption : ${roles}" th:value="${roleOption}" th:text="${roleOption}"></option>
                                                </select>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.card-body -->
                            
                            <div class="card-footer">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-info btn-sm" style="width: 200px">Register</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
        </section>
      
    </div>
</body>
</html>