<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/_layout">
<body>
    
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col">
                        <h1>Home</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        
        <section class="content">
            <div class="container-md">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>
                                
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>
                                
                                <p>Bounce Rate</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>44</h3>
                                
                                <p>User Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-appUser-plus"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>
                                
                                <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Latest Books</h3>
                        
                        <div class="card-tools">
                            <a th:href="@{/books/new}" class="btn btn-sm btn-info mx-2"  th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Add New Book</a>
                            <a th:href="@{/books}" class="btn btn-sm btn-secondary mx-2">View All Books</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive"   style="height: 520px;">
                            <table class="table m-0  table-head-fixed text-nowrap table-hover table-striped projects">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-left">Title</th>
                                    <th class="text-left">Author</th>
                                    <th class="text-left">Publisher</th>
                                    <th class="text-center">ISBN </th>
                                    <th class="text-center">Unit Price</th>
                                    
                                </tr>
                                </thead>
                                <tbody th:with="count=0">
                                    <tr th:each="book : ${books}">
                                        
                                        <th class="text-center"  th:with="count=${count + 1}" th:text="${count}"></th>
                                        <td class="text-left" th:text="${book.title}"></td>
                                        <td class="text-left" th:text="${book.author}"></td>
                                        <td class="text-left" th:text="${book.publisher}"></td>
                                        <td class="text-center" th:text="${book.isbn}"></td>
                                        <td class="text-center" th:text="${book.unitPrice}"></td>
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </section>
    </div>
</body>
</html>