<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
      <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col">
                        <h1>Edit User</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        
        <section class="content">
            <div class="container-fluid">
                <form class="row" th:action="@{/users/profile/update-password/register}" method="POST">
                    
                    
                    <div class="col-xl-5 col-lg-7 col-md-8 col-sm-10 col-12 mx-auto">
                        <div class="card  card-primary card-outline">
                            <div class="card-body">
                                <div class="form-horizontal text-nowrap">
                                    <div class="form-group row my-2">
                                        <label for="password" class="col-sm-5 col-form-label">New password </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="password" th:name="password" placeholder="New Password ">
                                        </div>
                                    </div>
                                    <div class="form-group row my-2">
                                        <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm New Password </label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="confirmPassword"  th:name="confirmPassword" placeholder="Confirm New Password ">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div><!-- /.card-body -->
                            
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <div class="text-left">
                                        <a th:href="@{/users/profile}" class="btn btn-sm btn-secondary mx-2">
                                            <i class="fa fa-arrow-left  mx-2"></i> Profile
                                        </a>
                                    </div>
                                    
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-info btn-sm" style="width: 200px">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
        </section>
      
    </div>
</body>
</html>